<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <mata name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Data Upload</title>
        <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Data Upload</h1>
    <form id="uploadForm">
        <input type="file" name="file" id="fileInput" accept=".CSV">
        <button type="submit" class="button1 w-full" id="upload-button">Upload</button>
    </form>
    <p id="statusMessage" style="color:red;">Please Upload CSV file</p>
    <p id="resultMessage" style="color:red;"></p>
    <button type="button" class="button1 w-full" id="analysis-button">Analysis</button>
    
    <script src="/static/js/script.js"></script>
</body>

</html>