<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Selection</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="card w-full max-w-md bg-white shadow-md">
            <div class="card-header">
                <h1 class="card-title text-2xl font-bold text-center">Login Selection</h1>
            </div>
            <div class="card-content space-y-4">
                <button class="button1
                 w-full" id = "teacher-login-button">Teacher Login</button>
                <button class="button1 w-full" id = "student-login-button">Student login</button>
                <button class="button2 w-full" id = "Reupload">Reupload</button>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>