<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <mata name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student Dashboard</title>
        <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="studentD-header">
        <h1 class="studentD">Student Dashboard</h1>
        <button id="student-logout" class="studentD-logout">Logout</button>
    </header>
    <main class="studentD-mainContent">
        <div id="student-plotContainer" class="grid-student-container"></div>
        <div id="feedback" class="feedback">{{feedback}}</div>
    </main>
    <script src="/static/js/script.js"></script>
</body>

</html>